<app-toolbar></app-toolbar>
<app-aside></app-aside>
<section>
  <div class="accordion" id="accordionExample" *ngFor="let datoAlumno of alumnos">
    <div class="accordion-item">
      <h2 class="accordion-header">
        <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne"
          aria-expanded="true" aria-controls="collapseOne">
          {{datoAlumno.nombre}} {{datoAlumno.carrera}}
        </button>
      </h2>
      <div id="collapseOne" class="accordion-collapse collapse show" data-bs-parent="#accordionExample">
        <div class="accordion-body">
          <strong>{{datoAlumno.carrera}}</strong> - {{ datoAlumno.edad}} años
        </div>
      </div>
    </div>
  </div>
</section>
<nav></nav>
<app-footer></app-footer>